<div class="col-12 col-md-6 col-lg-4" style="margin-bottom: 1rem;">
  <div class="card card-style">
    <div class="card-header p-0">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="<%= movie.url %>" frameborder="0" class="img-fluid"></iframe>
      </div>
    </div>
    <div class="card-body text-card-body">
      <% if movie.watch_progressed_by?(current_user) %>
        <%= link_to "視聴済みを解除", movie_watch_progresses_path(movie), method: :delete, class: "btn btn-primary btn-block" %>
      <% else %>
        <%= link_to "視聴済みにする", movie_watch_progresses_path(movie), method: :post, class: "btn btn-secondary btn-block" %>
      <% end %>
      <p class="card-text" style="margin-top: 20px;">Lv.<%= movie_counter + 1 + @movies.offset_value %> <%= movie.title %></p>
      <p>【<%= movie.genre_i18n %>】</p>
    </div>
  </div>
</div>
